<div class="bar bar-subheader">
  <h2 class="title">Change Password</h2>
</div>
<ion-content class="padding page">

  <form class="change-password" name="change-password-form">
  <div class="row row-center">
    <div class="col col-center text-center">
        <div class="head">
          <div class="icon-lock"><label class="icon ion-android-lock"></label></div>
          <p>Don’t tell anyone your password</p>
        </div>
        <div class="content">
            <div class="primary-long-input">
                <i class="icon ion-ios-unlocked"></i>
                <input class="line" type="password" placeholder="Current password" name="currentPassword" ng-model="currentPassword" required>
            </div>
            <div class="primary-long-input">
                <i class="icon ion-ios-unlocked"></i>
                <input class="line" type="password" placeholder="New password" name="newPassword" ng-model="newPassword" required>
            </div>
            <div class="primary-long-input">
                <i class="icon ion-ios-unlocked"></i>
                <input class="line {{newPassword!=newPasswordAgain?'wrong':''}}" type="password" placeholder="New password, again" name="newPasswordAgain" ng-model="newPasswordAgain" required>
            </div>
        </div>
        <div class="footer">
          <button type="submit" class="primary-long-btn" ng-disabled="!currentPassword || !newPassword || !newPasswordAgain">Save</button>
        </div>
    </div>
  </div>
  </form>

</ion-content>