<div class="bar bar-subheader">
  <h2 class="title">Change Password</h2>
</div>
<ion-content class="padding page">

  <form class="change-password" name="change-password-form">
  <div class="row row-center">
    <div class="col col-center text-center">
        <div class="head">
          <div class="icon-lock"></div>
          <p>Don’t tell anyone your password</p>
        </div>
        <div class="content">
            <div class="input-password">
              <i class="glyphicon icon ion-ios-locked" ></i>
              <input class="line" type="{{!showPasswordIsChecked?'password':'text'}}" placeholder="password" name="password" ng-model="password" ionic-password-show-hide required>
              <div class="show-toggle glyphicon icon {{!showPasswordIsChecked?'ion-eye-disabled':'ion-eye'}}">
                <input type="checkbox" ng-model="showPasswordIsChecked">
              </div>
            </div>
        </div>
        <div class="footer">
          <button type="submit" class="next-button color-white" ng-disabled="loginForm.password.$invalid">Login</button>
        </div>
    </div>
  </div>
  </form>

</ion-content>