<div class="bar bar-subheader">
  <h2 class="title">Edit Profile</h2>
</div>
<ion-content class="padding page" ng-show="readyPage" >

  <form class="edit-profile" name="editProfileForm" ng-submit="saveProfile(fullName, userName)">
  <div class="row row-center">
    <div class="col col-center text-center">
        <div class="head">
            <div class="person edit-profile {{!currentUser.current_user_img?'no-img':''}}" style="{{currentUser.current_user_img?'background: url('+currentUser.current_user_img+')':''}}"></div>
            <br />
            <input type="file" accept="image/*"  capture="camera" id="change-photo" class="hide">
            <label for="change-photo" class="change-photo hide">Change photo</label>
        </div>
        <div class="content">
            <div class="primary-long-input">
                <i class="icon ion-card"></i>
                <input class="line" type="text" placeholder="Your name" name="fullName" ng-model="fullName" required>
            </div>
            <div class="primary-long-input">
                <i class="icon ion-person"></i>
                <!--<input class="line {{editProfileForm.$error.usernameExists?'':'wrong'}}" type="text" placeholder="Username" name="userName" ng-model="userName" required username-available ng-model-options="{ getterSetter: true }">-->
                <input class="line" type="text" placeholder="Username" name="userName" ng-model="userName" required>
            </div>
            <div class="primary-long-input">
                <i class="icon ion-iphone"></i>
                <input class="line" type="text" placeholder="Phone number" name="phoneNumber" ng-model="phoneNumber" disabled>
            </div>
            <div class="primary-long-input">
                <i class="icon ion-email"></i>
                <input class="line" type="text" placeholder="Email address" name="emailAddress" ng-model="emailAddress" disabled>
            </div>
        </div>
        <div class="footer">
            <button type="submit" class="primary-long-btn" ng-disabled="!fullName || !userName">Save</button>
        </div>
    </div>
  </div>
  </form>

</ion-content>