<ion-content class="padding" >
  <div class="group-statistic">
    <div class="group-diagram"></div>
    <div class="group-summary">
      <div class="summary">
        <div class="wk-hours">
          <p>30 <label>Hours</label></p>
          <label>Working Hourse</label>
        </div>
        <div class="late-ck">
          <p>2 <label>Times</label></p>
          <label>Late to check in</label>
        </div>
        <div class="best-ck">
          <p>08:10</label></p>
          <label>Best check in</label>
        </div>
      </div>
    </div>
  </div>
  <button class="check in shadow" ng-click="doScan()" ng-show="statusabsen != 'I'">Check in</button>
  <button class="check out shadow" ng-click="doScanCheckout()" ng-show="statusabsen === 'I'">Check out</button>
</ion-content>