<ion-view id="login-page" class="home-view" hide-nav-bar="true" view-title="Login" name="login-view" cache-view="false">
    <ion-content class="padding">
        <div class="row row-center">
            <div class="col col-center text-center">
                <h1 class="color-white">ABSEN</h1>
                <div class="person login {{!profilePicture?'no-img':''}}" style="{{profilePicture?'background: url('+profilePicture+')':''}}"></div>
                <form class="login-password" ng-submit="login(password)" name="login-form">
                    <div class="input-password">
                        <i class="glyphicon icon ion-ios-locked" ></i>
                        <input class="line" type="{{!showPasswordIsChecked?'password':'text'}}" placeholder="password" name="password" ng-model="password" ionic-password-show-hide required>
                        <div class="show-toggle glyphicon icon {{!showPasswordIsChecked?'ion-eye-disabled':'ion-eye'}}">
                            <input type="checkbox" ng-model="showPasswordIsChecked">
                        </div>
                    </div>
                    <button type="submit" class="next-button color-white" ng-disabled="!password">Login</button>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>