<ion-view id="login-page" class="home-view" hide-nav-bar="true" view-title="Login" name="login-view">
    <ion-content class="padding">
        <div class="row row-center">
            <div class="col col-center text-center">
                <h1 class="color-white">ABSEN</h1>
                <div class="person login" style="background: url('https://scontent-sin6-2.xx.fbcdn.net/v/t1.0-9/20031813_1115122758619697_6580804958451995592_n.jpg?oh=961b5008c1bab6b6341fa7e2ea40f5cf&oe=5A4DDA51')"></div>
                <form class="login-password" ng-submit="login(input)" name="login-form">
                    <div class="input-password">
                        <i class="glyphicon icon ion-ios-locked" ></i>
                        <input class="line" type="password" ng-show="!showPasswordIsChecked" placeholder="password" name="password" ng-model="input.password" ionic-password-show-hide required>
                        <input class="line" type="text" ng-show="showPasswordIsChecked" placeholder="password" name="password" ng-model="input.password" ionic-password-show-hide required>
                        <div class="show-toggle glyphicon icon ion-eye" ng-show="!showPasswordIsChecked">
                            <input type="checkbox" ng-model="showPasswordIsChecked">
                        </div>
                        <div class="hide-toggle glyphicon icon ion-eye-disabled" ng-show="showPasswordIsChecked">
                            <input type="checkbox" ng-model="showPasswordIsChecked">
                        </div>
                    </div>
                    <button type="submit" class="next-button color-white" ng-disabled="loginForm.password.$invalid">Login</button>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>