<ion-view id="login-page" class="home-view" hide-nav-bar="true" view-title="Login" name="login-view">
    <ion-content class="padding">
        <div class="row row-center header">
            <div class="col col-center text-center">
                <h1 class="color-white">ABSEN</h1>
            </div>
        </div>
        <div class="row row-center content">
            <div class="col col-center text-center">

                <div class="recent-account list">
                    <div class="group-item">
                        <a class="item" href="#/login-password/">
                            <div class="person recent" style="background: url('https://scontent-sin6-2.xx.fbcdn.net/v/t1.0-9/20031813_1115122758619697_6580804958451995592_n.jpg?oh=961b5008c1bab6b6341fa7e2ea40f5cf&oe=5A4DDA51')"></div>
                            <label>Oki Karso Aji</label>
                        </a>
                        <div class="remove-recent-account ion-close-circled" onclick="window.location='#/login'"></div>
                    </div>
                    <div class="group-item">
                        <a class="item" href="#/login-password/">
                            <div class="person recent" style="background: url('https://scontent-sin6-2.xx.fbcdn.net/v/t1.0-9/20031813_1115122758619697_6580804958451995592_n.jpg?oh=961b5008c1bab6b6341fa7e2ea40f5cf&oe=5A4DDA51')"></div>
                            <label>Oki Karso Aji</label>
                        </a>
                        <div class="remove-recent-account ion-close-circled" onclick="window.location='#/login'"></div>
                    </div>
                </div>
                <a class="add-different-account" href="#/login">
                    <i class="ion-plus-circled"></i> Login with different account
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>