<div class="bar bar-subheader">
  <h2 class="title">Notifications</h2>
</div>
<ion-content class="padding page" on-scroll="gotScrolled()" delegate-handle="top-content-notification">
  <div class="list">

    <a class="item item-thumbnail-left group-report" href="#">
      <div class="check-icon"></div>
      <div class="content">
        <p>Dont forget to check in today at <b>08.20</b></p>
      </div>
      <div class="footer">
        <p><lable class="icon ion-android-alarm-clock"></label> 5 Minute ago</p>
      </div>
    </a>
    <a class="item item-thumbnail-left group-report warn" href="#">
      <div class="warn-icon"></div>
      <div class="content">
        <p>You've been late for 5 minutes and yet do the check-in.</p>
      </div>
      <div class="footer">
        <p><lable class="icon ion-android-alarm-clock"></label> Yesterday, at 08.50</p>
      </div>
    </a>
    <a class="item item-thumbnail-left group-report" href="#">
      <div class="check-icon"></div>
      <div class="content">
        <p>Dont forget to check out today at <b>17.30</b></p>
      </div>
      <div class="footer">
        <p><lable class="icon ion-android-alarm-clock"></label> Tue 29 at 17.20</p>
      </div>
    </a>
    <a class="item item-thumbnail-left group-report warn" href="#">
      <div class="warn-icon"></div>
      <div class="content">
        <p>Working hours are over, and you have not checked out. do not forget to check out</p>
      </div>
      <div class="footer">
        <p><lable class="icon ion-android-alarm-clock"></label> Yesterday, at 20.50</p>
      </div>
    </a>
    <a class="item item-thumbnail-left group-report" href="#">
      <div class="check-icon"></div>
      <div class="content">
        <p>Dont forget to check in today at <b>08.20</b></p>
      </div>
      <div class="footer">
        <p><lable class="icon ion-android-alarm-clock"></label> 5 Minute ago</p>
      </div>
    </a>
    <a class="item item-thumbnail-left group-report warn" href="#">
      <div class="warn-icon"></div>
      <div class="content">
        <p>You've been late for 5 minutes and yet do the check-in.</p>
      </div>
      <div class="footer">
        <p><lable class="icon ion-android-alarm-clock"></label> Yesterday, at 08.50</p>
      </div>
    </a>
    <a class="item item-thumbnail-left group-report" href="#">
      <div class="check-icon"></div>
      <div class="content">
        <p>Dont forget to check out today at <b>17.30</b></p>
      </div>
      <div class="footer">
        <p><lable class="icon ion-android-alarm-clock"></label> Tue 29 at 17.20</p>
      </div>
    </a>
    <a class="item item-thumbnail-left group-report warn" href="#">
      <div class="warn-icon"></div>
      <div class="content">
        <p>Working hours are over, and you have not checked out. do not forget to check out</p>
      </div>
      <div class="footer">
        <p><lable class="icon ion-android-alarm-clock"></label> Yesterday, at 20.50</p>
      </div>
    </a>


  </div>
</ion-content>
<button class="back-to-top {{actButton}}" ng-click="scrollSmallToTop()">
  <label class="icon ion-chevron-up"></label>
</button>