<ion-content class="padding" delegate-handle="top-content">
  <div class="list">

    <a class="item item-thumbnail-left group-recent" href="#">
      <div class="calender">
        <label>Agust</label>
        <p>10</p>
        <span>Monday</span>
      </div>
      <h2><lable class="icon ion-android-alarm-clock"></label> 08.10</h2>
      <p>You has successfully check out</p>
    </a>
    <a class="item item-thumbnail-left group-recent" href="#">
      <div class="calender">
        <label>Agust</label>
        <p>10</p>
        <span>Monday</span>
      </div>
      <h2><lable class="icon ion-android-alarm-clock"></label> 08.10</h2>
      <p>You has successfully edit profile</p>
    </a>
    <a class="item item-thumbnail-left group-recent" href="#">
      <div class="calender">
        <label>Agust</label>
        <p>10</p>
        <span>Monday</span>
      </div>
      <h2><lable class="icon ion-android-alarm-clock"></label> 08.10</h2>
      <p>You has successfully change profile pictures</p>
    </a>
    <a class="item item-thumbnail-left group-recent" href="#">
      <div class="calender">
        <label>Agust</label>
        <p>10</p>
        <span>Monday</span>
      </div>
      <h2><lable class="icon ion-android-alarm-clock"></label> 08.10</h2>
      <p>You has successfully check in</p>
    </a>
    <a class="item item-thumbnail-left group-recent" href="#">
      <div class="calender">
        <label>Agust</label>
        <p>10</p>
        <span>Monday</span>
      </div>
      <h2><lable class="icon ion-android-alarm-clock"></label> 08.10</h2>
      <p>You has successfully check in</p>
    </a>
    <a class="item item-thumbnail-left group-recent" href="#">
      <div class="calender">
        <label>Agust</label>
        <p>10</p>
        <span>Monday</span>
      </div>
      <h2><lable class="icon ion-android-alarm-clock"></label> 08.10</h2>
      <p>You has successfully check in</p>
    </a>
    <a class="item item-thumbnail-left group-recent" href="#">
      <div class="calender">
        <label>Agust</label>
        <p>10</p>
        <span>Monday</span>
      </div>
      <h2><lable class="icon ion-android-alarm-clock"></label> 08.10</h2>
      <p>You has successfully check in</p>
    </a>


  </div>
</ion-content>
<button class="back-to-top shadow" ng-click="scrollSmallToTop()">
  <label class="icon ion-chevron-up"></label>
</button>