<div class="bar bar-subheader">
    <h2 class="title">Report</h2>
</div>
<ion-content class="padding page" on-scroll="gotScrolled()" delegate-handle="top-content-report" ng-show="readyPage">


    <div class="filter-report">
        <button type="button" class="date-picker date-from" ng-click="openDateFrom()">
            <label class="icon ion-calendar"></label>
            {{dateFrom}}
        </button>
        <button type="button" class="date-picker date-to" ng-click="openDateTo()">
            <label class="icon ion-calendar"></label>
            {{dateTo}}
        </button>
    </div>
    <div class="summary-report">
        <div class="box-4 total-check-in">
            <p>{{checkIn}}</p>
            <label>Total</label>
            <label>check in</label>
        </div>
        <div class="box-4 late-to-check-in">
            <p>{{lateToCheckIn}}</p>
            <label>Late to</label>
            <label>check in</label>
        </div>
        <div class="box-4 on-time">
            <p>{{onTime}}</p>
            <label>On Time</label>
            <label>check in</label>
        </div>
        <div class="box-4 working-hours">
            <p>{{workingHours}}</p>
            <label>Working</label>
            <label>hours</label>
        </div>
    </div>
    <div class="list">

        <a class="item item-thumbnail-left group-report" ng-repeat="report in reportList">
            <div class="calender">
                <label>{{report.checkin_month}}</label>
                <p>{{report.checkin_date}}</p>
                <span>{{report.checkin_day}}</span>
            </div>
            <h2>{{report.full_name}}</h2>
            <p>{{report.checkin_hours}} <span>to</span> {{report.checkout_hours}}</p>
        </a>

    </div>
</ion-content>
<button class="back-to-top {{actButton}}" ng-click="scrollSmallToTop()">
    <label class="icon ion-chevron-up"></label>
</button>