<div class="bar bar-subheader">
    <h2 class="title">Report</h2>
</div>
<ion-content class="padding page" on-scroll="gotScrolled(this)" delegate-handle="top-content">
    <div class="list">

        <div class="filter-report">

        </div>

        <div class="summary-report">
            <div class="box-4 total-check-in">
                <p>20</p>
                <label>Total</label>
                <label>check in</label>
            </div>
            <div class="box-4 late-to-check-in">
                <p>5</p>
                <label>Late to</label>
                <label>check in</label>
            </div>
            <div class="box-4 not-check-in">
                <p>3</p>
                <label>Not</label>
                <label>check in</label>
            </div>
            <div class="box-4 working-hours">
                <p>50</p>
                <label>Working</label>
                <label>hours</label>
            </div>
        </div>


        <a class="item item-thumbnail-left group-report" href="#">
            <div class="calender">
                <label>Agust</label>
                <p>10</p>
                <span>Monday</span>
            </div>
            <h2>Oki Karso Aji</h2>
            <p>08.20 <span>to</span> 20.30</p>
        </a>
        <a class="item item-thumbnail-left group-report" href="#">
            <div class="calender">
                <label>Agust</label>
                <p>10</p>
                <span>Monday</span>
            </div>
            <h2>Oki Karso Aji</h2>
            <p>08.20 <span>to</span> 20.30</p>
        </a>
        <a class="item item-thumbnail-left group-report" href="#">
            <div class="calender">
                <label>Agust</label>
                <p>10</p>
                <span>Monday</span>
            </div>
            <h2>Oki Karso Aji</h2>
            <p>08.20 <span>to</span> 20.30</p>
        </a>
        <a class="item item-thumbnail-left group-report" href="#">
            <div class="calender">
                <label>Agust</label>
                <p>10</p>
                <span>Monday</span>
            </div>
            <h2>Oki Karso Aji</h2>
            <p>08.20 <span>to</span> 20.30</p>
        </a>
        <a class="item item-thumbnail-left group-report" href="#">
            <div class="calender">
                <label>Agust</label>
                <p>10</p>
                <span>Monday</span>
            </div>
            <h2>Oki Karso Aji</h2>
            <p>08.20 <span>to</span> 20.30</p>
        </a>
        <a class="item item-thumbnail-left group-report" href="#">
            <div class="calender">
                <label>Agust</label>
                <p>10</p>
                <span>Monday</span>
            </div>
            <h2>Oki Karso Aji</h2>
            <p>08.20 <span>to</span> 20.30</p>
        </a>
        <a class="item item-thumbnail-left group-report" href="#">
            <div class="calender">
                <label>Agust</label>
                <p>10</p>
                <span>Monday</span>
            </div>
            <h2>Oki Karso Aji</h2>
            <p>08.20 <span>to</span> 20.30</p>
        </a>
        <a class="item item-thumbnail-left group-report" href="#">
            <div class="calender">
                <label>Agust</label>
                <p>10</p>
                <span>Monday</span>
            </div>
            <h2>Oki Karso Aji</h2>
            <p>08.20 <span>to</span> 20.30</p>
        </a>
        <a class="item item-thumbnail-left group-report" href="#">
            <div class="calender">
                <label>Agust</label>
                <p>10</p>
                <span>Monday</span>
            </div>
            <h2>Oki Karso Aji</h2>
            <p>08.20 <span>to</span> 20.30</p>
        </a>
        <a class="item item-thumbnail-left group-report" href="#">
            <div class="calender">
                <label>Agust</label>
                <p>10</p>
                <span>Monday</span>
            </div>
            <h2>Oki Karso Aji</h2>
            <p>08.20 <span>to</span> 20.30</p>
        </a>


    </div>
</ion-content>
<button class="back-to-top {{actButton}}" ng-click="scrollSmallToTop()">
    <label class="icon ion-chevron-up"></label>
</button>