.change-password .head {
    margin: auto;
    margin-bottom: 20px;
}

.change-password .content {
    margin-bottom: 20px;
}

.change-password .icon-lock {
    margin: auto;
    background: #757272;
    width: 120px;
    height: 120px;
    line-height: 150px;
    margin-bottom: 10px;
    border-radius: 50%;
}

.change-password .icon-lock label {
    color: #d3d3d3;
    font-size: 60px
}

.change-password .head p {
    color: #757272;
    font-size: 18px;
    font-weight: bold;
}
