.change-password .head {
    margin: auto;
    height: 140px;
    margin-bottom: 10px;
}

.change-password .content {
    height: 140px;
    margin-bottom: 10px;
}

.change-password .footer {
    height: 140px;
}

.change-password .icon-lock {
    margin: auto;
    background: url(/img/icon-password.png) no-repeat center;
    background-size: 100% 100%;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.change-password .head p {
    color: #757272;
    font-size: 20px;
    font-weight: bold;
}

.change-password .input-password input, .change-password .input-password input::placeholder {
    background: #ffffff;
    color: #757272;
    padding: 0;
}