/**
 * ABSEN september, 2017
 * Spesific css
 */

#login-page.home-view h1 {
    padding-top: 30px;
    font-weight: bold;
}

div.person.login {
    margin: auto;
    margin-top: 58px;
    margin-bottom: 58px;
    width: 160px;
    height: 160px;
}

.input-username input, .input-password input {
    margin: auto;
    background: none;
    border-bottom: 1px solid #ffffff;
    text-align: center;
    width: 85%;
    font-size: 25px;
    padding: 15px 30px 25px 30px;
}

.input-username i, .input-password i {
    float: left;
    font-size: 25px;
    margin: 3px -15% 0 8%;
}

.login-username button, .login-password button, .login-username a.button, .login-password a.button,
.login-username a.button.activated, .login-password a.button.activated {
    margin: auto;
    margin-top: 30px;
    border: 0;
    border-radius: 5px;
    font-size: 30px;
    padding: 10px 10px 13px 10px;
    width: 86%;
    background: rgba(0, 0, 0, 0.25);
}

.login-password button:disabled,
.login-password button[disabled]{
    opacity: 0.5;
}

.input-password .show-toggle, .input-password .hide-toggle {
    width: 20px;
    height: 20px;
    font-size: 25px;
    float: right;
    margin-top: -33px;
    margin-right: 8%;
}

.input-password .show-toggle::before, .input-password .hide-toggle::before {
    display: block;
    pointer-events: none;
}

.input-password .show-toggle input, .input-password .hide-toggle input {
    display: block;
    margin-top: -22px;
    margin-left: 2px;
    width: 20px;
    height: 20px;
    opacity: 0;
}

.row.row-center.header{
    height: 15%;
}
.row.row-center.content{
    height: 85%;
}

.recent-account .item {
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    background: rgba(234, 234, 234, 0.6);
    padding: 5px;
    border-radius: 10px;
}

.recent-account .group-item label {
    display: table-cell;
    color: #2a2a2c;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    vertical-align: middle;
    white-space: normal;
    width: 170px;
    height: 80px;
    padding: 10px;
}

.recent-account .group-item .remove-recent-account {
    position: relative;
    float: right;
    z-index: 999;
    color: #b9293d;
    font-size: 30px;
    width: 30px;
    height: 30px;
    margin-top: -70px;
    margin-right: 5px;
}

.add-different-account {
    display: block;
    color: #ffffff;
    text-align: left;
    font-size: 17px;
    text-decoration: none;
    margin-bottom: 50px;
    margin-top: 20px;
    margin-left: 5px;
}

.add-different-account i {
    display: block;
    float: left;
    font-size: 25px;
    margin-right: 10px;
    margin-top: -4px;
}

#login-page .bar.bar-header h1 {
    padding-top: 50px;
    height: 110px;
}

/*#login-page.recent-acount .scroll-content {*/
/*top: 110px;*/
/*}*/
#login-page.recent-acount .recent-account.list {
    top: 110px;
}