.header-menu {
    margin-bottom: 30px;
}

div.person.side-menu {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 15px;
    width: 150px;
    height: 150px;
}

.header-menu h1 {
    margin: 0;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.header-menu span {
    text-align: center;
    display: block;
    font-size: 15px;
    font-weight: bold;
}

ion-side-menu ion-content.hide-header {
    top: 0;
}

ion-side-menu .item, ion-side-menu .item a.item-content{
    background: none;
    border: none;
    font-weight: bold;
    font-size: 17px;
}

ion-side-menu .item a.item-content{
    padding: 15px 30px 15px 30px;
}

ion-side-menu .item.active, ion-side-menu .item.active a.item-content, ion-side-menu .item a.item-content.activated{
    background: none;
    border: none;
}

ion-side-menu .item.active a.item-content, ion-side-menu .item  a.item-content.activated{
    background: rgba(0, 0, 0, 0.25)!important;
}

ion-side-menu .item a.item-content i {
    font-size: 20px;
    width: 30px;
    display: block;
    float: left;
    margin-top: 0px;
}

.menu-lists .overflow-scroll .scroll {
    height: calc(100% - 44px);
}
