.item-thumbnail-left > .check-icon {
    background: url('../img/icon-notification-check.png') no-repeat center;
    background-size: 100% 100%;
}

.item-thumbnail-left > .warn-icon {
    background: url('../img/icon-notification-warning.png') no-repeat center;
    background-size: 100% 100%;
}

a.group-report {
    border-left: 5px solid #009496;
    padding-bottom: 10px;
}

a.group-report.warn {
    border-left: 5px solid #e8db13;
}

a.group-report .content {
    min-height: 50px;
    white-space: normal;
    margin-bottom: 10px;
}

a.group-report .content p {
    font-size: 17px;
    white-space: normal;
}

a.group-report .footer p {
    font-weight: bold;
}