/**
 * ABSEN, September 2017
 * Common css
 */

body {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
}

.color-white, input[type="text"], input[type="text"]::placeholder,
    input[type="password"], input[type="password"]::placeholder,
    .menu, .menu .bar.bar-stable .title, ion-side-menu .item  {
    color: #ffffff;
}

.home-view {
    background: #2c3b51;
}

div.person {
    background-repeat: no-repeat;
    background-size: 100% 100% !important;
    border-radius: 50%;
    border: 5px solid #ffffff;
}

div.person.recent {
    float: left;
    width: 100px;
    height: 100px;
}

div.person.no-img {
    background: url(/img/person.png);
    border: none;
}

.menu {
    background: #009496;
}

.menu, .menu .bar.bar-stable {
    background: #009595;
}

.view-container.tab-content .pane {
    background: #d3d3d3;
}

menu-open .menu-content .pane, .menu-open .menu-content .scroll-content,
.menu-open .menu-content .scroll-content .scroll{
    pointer-events: auto !important;
}

.hide {
    opacity: 0;
}

.bar-stable .button.button-clear {
    font-size: 35px;
    color: #ffffff;
}

.shadow {
    -webkit-box-shadow: 10px 10px 20px -1px rgba(0,0,0,0.41);
    -moz-box-shadow: 10px 10px 20px -1px rgba(0,0,0,0.41);
    box-shadow: 10px 10px 20px -1px rgba(0,0,0,0.41);
}

button.back-to-top {
    background: #009595;
    border: none;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    -webkit-box-shadow: 9px 9px 9px -1px rgba(0,0,0,0.51);
    -moz-box-shadow: 9px 9px 9px -1px rgba(0,0,0,0.51);
    box-shadow: 9px 9px 9px -1px rgba(0,0,0,0.51);
    -webkit-transition: bottom ease .5s; /* Safari */
    transition: bottom ease .5s;
}

button.back-to-top.activated {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

button.back-to-top label {
    font-size: 30px;
    color: #fff;
}

button.back-to-top.show {
    bottom: 80px;
}

button.back-to-top.hide {
    opacity: 1;
    display: block;
    bottom: -20px;
}

/** HEADER
 */

