/**
 * ABSEN, September 2017
 * Common css
 */

body {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
}

.color-white, input[type="text"], input[type="text"]::placeholder,
input[type="password"], input[type="password"]::placeholder,
.menu, .menu .bar.bar-stable .title, ion-side-menu .item, .bar-subheader .title  {
    color: #ffffff;
}

.home-view, .bar-subheader {
    background: #2c3b51;
}

.bar.bar-positive {
    height: 100px;
    border-color: #2c3b51;
    background-color: #2c3b51;
    background-image: linear-gradient(0deg, #2c3b51, #2c3b51 50%, transparent 50%);
}

.bar.bar-positive.page {
    height: 45px;
}

.bar-subheader .title {
    margin-top: -10px;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
}

.bar.bar-positive h1.title {
    font-size: 35px;
    font-weight: bold;
}

.group-date, .sub-title {
    width: 100%;
    text-align: center;
    margin-top: 45px;
}

.group-date p.date {
    margin-bottom: 1px;
}

.group-date p.clock, .sub-title p {
    font-size: 20px;
}

div.person {
    background-repeat: no-repeat;
    background-size: 100% 100% !important;
    border-radius: 50%;
    border: 5px solid #ffffff;
}

div.person.recent {
    float: left;
    width: 80px;
    height: 80px;
}

div.person.no-img {
    background: url('../img/person.png');
    border: none;
}

.menu, .menu .bar.bar-stable {
    background: #009496;
}

.view-container.tab-content .pane, .padding.page.scroll-content {
    background: #d3d3d3;
}

.padding.page.scroll-content {
    top: 75px;
}

menu-open .menu-content .pane, .menu-open .menu-content .scroll-content,
.menu-open .menu-content .scroll-content .scroll{
    pointer-events: auto !important;
}

.hide {
    opacity: 0;
}

.bar-stable .button.button-clear {
    font-size: 35px;
    color: #ffffff;
}

.shadow {
    -webkit-box-shadow: 10px 10px 20px -1px rgba(0,0,0,0.41);
    -moz-box-shadow: 10px 10px 20px -1px rgba(0,0,0,0.41);
    box-shadow: 10px 10px 20px -1px rgba(0,0,0,0.41);
}

button.back-to-top {
    background: #009595;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    -webkit-box-shadow: 5px 5px 7px -1px rgba(0,0,0,0.51);
    -moz-box-shadow: 5px 5px 7px -1px rgba(0,0,0,0.51);
    box-shadow: 5px 5px 7px -1px rgba(0,0,0,0.51);
    -webkit-transition: bottom ease .5s; /* Safari */
    transition: bottom ease .5s;
}

button.back-to-top.activated {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

button.back-to-top label {
    font-size: 20px;
    color: #fff;
}

button.back-to-top.show {
    bottom: 15px;
}

button.back-to-top.show.has-tab {
    bottom: 65px;
}

button.back-to-top.hide {
    opacity: 1;
    display: block;
    bottom: -100px;
}

div.popup-container.popup-showing.active {
    background: rgba(146, 146, 146, 0.5);
}

div.popup-container.popup-showing.active > .popup {
    width: 95%;
    border-radius: 7px;
    background: rgba(255, 255, 255, 0.9);
}

.popup > .popup-head, .popup > .popup-body{
    padding: 15px 15px;
}

.popup > .popup-head, .popup > .popup-body, .popup > .popup-buttons{
    border: none;
}

.popup > .popup-head {
    border-radius: 10px 10px 0 0;
    border-bottom: 2.5px solid #b7b7b7;
}

.popup > .popup-head > .popup-title {
    color: #b9293d;
    font-size: 25px;
    text-align: left;
    font-weight: bold;
}

.popup > .popup-body span {
    color: #2a2a2c;
    font-size: 20px;
}

.popup > .popup-buttons {
    border-radius: 0 0 10px 10px;
    border-top: .5px solid #b7b7b7;
}

.popup > .popup-buttons button, .popup > .popup-buttons button.activated, .popup > .popup-buttons button:hover {
    background: none;
    color: #2a2a2c;
    font-size: 20px;
    font-weight: bold;
    border: none;
    -o-text-overflow: ellipsis;   /* Opera */
    text-overflow:    ellipsis;   /* IE, Safari (WebKit) */
    overflow:hidden;              /* don't show excess chars */
    white-space:nowrap;
}

.popup > .popup-buttons button.with-border-right {
    border-right: .5px solid #b7b7b7;
    margin-right: 0;
}

/** LOADING SPINNER
 */
.loading .spinner.spinner-android, .loading-container .loading  .spinner.spinner-android {
    display: none;
    visibility: hidden;
}
.loading, .loading-container .loading {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #009595;
    -webkit-animation: loading 1s infinite ease-in;
    animation: loading 1s infinite ease-in;
}

@-webkit-keyframes loading {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes loading {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}
/** END LOADING SPINNER
 */



.primary-long-input {
    margin-bottom: 10px;
}

.primary-long-input input, .primary-long-input input::placeholder {
    color: #757272;
}

.primary-long-input input {
    background: #ffffff;
    font-size: 20px;
    width: 90%;
    text-align: left;
    padding: 0;
    padding: 30px 30px 30px 60px;
    border-left: 7px solid #ffffff;
    border-radius: 6px;
}

.primary-long-input input:disabled, .primary-long-input input[disabled] {
    background: none;
    border-top: 1px solid #757272;
    border-bottom: 1px solid #757272;
    border-left: 1px solid #757272;
    border-right: 1px solid #757272;
}

.primary-long-input i{
    float: left;
    width: 35px;
    color:  #757272;
    font-size: 25px;
    margin: 15px -14% 0 9%
}

.primary-long-input input.wrong:focus {
    border-left: 7px solid #b9293d;
}

.primary-long-input input:focus {
    border-left: 7px solid #009595;
}

button.primary-long-btn {
    width: 90%;
    background: #009595;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    padding: 15px;
}

.box-4 {
    width: calc(100%/4);
    float: left;
}

.bar.bar-subheader {
    height: 30px;
}

/**
 * CALENDER
 */

.ionic_datepicker_modal .date_col {
    color: #111;
}

.ionic_datepicker_modal .selected_date, .ionic_datepicker_modal .today {
    border-radius: 50%;
}

/**
 * END CALENDER
 */